/*Reset de estilos*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62,5% ;
}
/*variables*/
:root{
    --color-principal1: #17706e ;
    --color-principal2: #fb7813 ;
}
.conteiner{
    width: 330px;
    height: 395px;
    justify-content: space-around;
}